@import "bootstrap-sprockets";
@import "bootstrap";

.header {
  background-color: #B7DBC8;
  color: #2F5950;
  // height: 40px;
  ul {
    // list-style: none;
    li {
      // float: left;
      font-weight: bolder;
      // margin: 10px;
    }
  }
}

.posts {
  td, th {
    margin: 1px;
    padding: 3px;
    border: 1px dotted #2F5950;
  }
}